.wrapper {
    display: flex;
    /* Main Axis */
    justify-content: space-between;
    /* Cross Axis */
    align-items: center;
    height: 200vh;
}

.box {
    background: peru;
    width: 200px;
    height: 200px;
    color: white;
}